In [19]:
import pandas as pd

# usando numeros aleatorios para fazer um dataframe
import random

#usando o alfabeto
import string

# mudando pasta de trabalho
import os
os.getcwd()

'e:\\Users\\B51995\\Desktop\\Praticando-python\\usando_pandas'

In [20]:
# series in pandas
serie = [1, 7, 2, 42, 8, 7, 90, 41]

# funciona como uma espécie de lista
variavel = pd.Series(serie)

# é possível iterar sobre
for valor in variavel:
  print(valor)

1
7
2
42
8
7
90
41

In [21]:
alfabeto = list(string.ascii_lowercase)

# é possível mudar os labels de cada valor
variavel = pd.Series(serie, index = alfabeto[0:len(variavel)])
print(variavel)
print("\n")

# funciona como um dicionario
# aceita dicionario como entrada para fazer uma series
calorias = {"day1": 300, "day2":250, "day3": 325}
variavel = pd.Series(calorias)
print(variavel)
print("\n")

# especificando somente os indices que quisermos
variavel = pd.Series(calorias, index = ["day1", "day2"])
print(variavel)
print("\n")

a     1
b     7
c     2
d    42
e     8
f     7
g    90
h    41
dtype: int64


day1    300
day2    250
day3    325
dtype: int64


day1    300
day2    250
dtype: int64

In [22]:
# em pandas os datasets são chamados dataframes e são
# a junção de várias séries, cada série sendo uma coluna
lista_calorias = []
lista_duracao = []
lista_labels = []

for i in range(100):
  lista_calorias.append(random.randint(250,500))
  lista_duracao.append(random.randint(15,150))
  lista_labels.append("Dia " + str(i))

dados_exercicio = {
  "calories": lista_calorias,
  "duration": lista_duracao
}

variavel = pd.DataFrame(dados_exercicio, index = lista_labels)

print(variavel)

        calories  duration
Dia 0        408        49
Dia 1        325        95
Dia 2        268       108
Dia 3        382        83
Dia 4        252        91
...          ...       ...
Dia 95       485        34
Dia 96       392       124
Dia 97       272        16
Dia 98       279       111
Dia 99       286       101

[100 rows x 2 columns]

In [23]:
# um DataFrame é um array bidimensional com linhas e colunas

print(pd.DataFrame(dados_exercicio))

# mudando labels do dataframe
dataframe = pd.DataFrame(dados_exercicio, index=lista_labels)

# pandas usa o atributo loc para retornar uma ou mais
# colunas específicadas
# retorna uma serie em panda
print("Usando o loc")

print(dataframe.loc["Dia 0"]) # printa informações da linha

print(dataframe.loc[["Dia 0", "Dia 1", "Dia 2", "Dia 3", "Dia 4", "Dia 5", "Dia 6", "Dia 7", "Dia 8", "Dia 9"]]) # printa a lista de linhas

    calories  duration
0        408        49
1        325        95
2        268       108
3        382        83
4        252        91
..       ...       ...
95       485        34
96       392       124
97       272        16
98       279       111
99       286       101

[100 rows x 2 columns]
Usando o loc
calories    408
duration     49
Name: Dia 0, dtype: int64
       calories  duration
Dia 0       408        49
Dia 1       325        95
Dia 2       268       108
Dia 3       382        83
Dia 4       252        91
Dia 5       479        25
Dia 6       426       109
Dia 7       376        29
Dia 8       308        20
Dia 9       342        86

In [24]:
# lendo arquivo .csv

mtcars = pd.read_csv("mtcars.csv")

In [25]:
# lendo arquivo .json

pokedex = pd.read_json("pokedex.json")

In [26]:
# informações sobre o dataframe, do objeto DataFrame
# printa o objeto na memória, a quantidade de linhas, informações sobre cada coluna:
# nome da variável, se tem (e quantos são) dados nulos e o tipo armazenado na coluna
mtcars.info()
pokedex.info()

# primeiras linhas
print(pokedex.head(10))# primeiras 10 linhas

# útlimas linhas
print(mtcars.tail(10))# últimas 10 linhas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809 entries, 0 to 808
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      809 non-null    int64
 1   name    809 non-null    object
 2   type    809 non-null    object
 3   base    809 non-null    object
dtypes: int64(1), object(3)
memory usage: 25.4+ KB
   id                                               name             type  \
0   1  {'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...  [Grass, Poison]
1   2  {'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...  [Grass, Poison]
2   3  {'english': 'Venusaur', 'japanese': 'フシギバナ', '...  [Grass, Poison]
3   4  {'english': 'Charmander', 'japanese': 'ヒトカゲ', ...           [Fire]
4   5  {'english': 'Charmeleon', 'japanese': 'リザード', ...           [Fire]
5   6  {'english': 'Charizard', 'japanese': 'リザードン', ...   [Fire, Flying]
6   7  {'english': 'Squirtle', 'japanese': 'ゼニガメ', 'c...          [Water]
7   8  {'english': 'Wartortle', 'japanese': 'カメール', '...          [Water]
8   9  {'english': 'Blastoise', 'japanese': 'カメックス', ...          [Water]
9  10  {'english': 'Caterpie', 'japanese': 'キャタピー', '...            [Bug]

                                                base
0  {'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A...
1  {'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A...
2  {'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A...
3  {'HP': 39, 'Attack': 52, 'Defense': 43, 'Sp. A...
4  {'HP': 58, 'Attack': 64, 'Defense': 58, 'Sp. A...
5  {'HP': 78, 'Attack': 84, 'Defense': 78, 'Sp. A...
6  {'HP': 44, 'Attack': 48, 'Defense': 65, 'Sp. A...
7  {'HP': 59, 'Attack': 63, 'Defense': 80, 'Sp. A...
8  {'HP': 79, 'Attack': 83, 'Defense': 100, 'Sp. ...
9  {'HP': 45, 'Attack': 30, 'Defense': 35, 'Sp. A...
               model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
22       AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3
23        Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3
24  Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3
25         Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4
26     Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5
27      Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5
28    Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5
29      Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5
30     Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5
31        Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4

    carb
22     2
23     4
24     2
25     1
26     2
27     2
28     4
29     6
30     8
31     2

In [27]:
# não fiz nenhum procedimento de limpeza de base de dados para linhas vazias
# porque nenhum dos dois dataframes tem esse problema

print(mtcars["cyl"].mean())
print(mtcars["cyl"].median())
print(mtcars["cyl"].mode()[0])

# vendo duplicatas
print("vendo duplicatas")
print(mtcars.duplicated())

# removendo duplicatas
# (não vai fazer nada nesse dataframe)
mtcars.drop_duplicates(inplace = True)

6.1875
6.0
8
vendo duplicatas
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [28]:
# correlação
# a correlação "corr()" calcula as correlações entre cada coluna (variável)
# dentro do dataframe
# o método ignora colunas que tenham dados não numéricos

mtcars_sem_modelos = mtcars.drop(columns = ["model"])
print("Base de dados sem os nomes dos modelos")
print(mtcars_sem_modelos.head())
print("Correlações")
print(mtcars_sem_modelos.corr())

Base de dados sem os nomes dos modelos
    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
Correlações
           mpg       cyl      disp        hp      drat        wt      qsec  \
mpg   1.000000 -0.852162 -0.847551 -0.776168  0.681172 -0.867659  0.418684
cyl  -0.852162  1.000000  0.902033  0.832447 -0.699938  0.782496 -0.591242
disp -0.847551  0.902033  1.000000  0.790949 -0.710214  0.887980 -0.433698
hp   -0.776168  0.832447  0.790949  1.000000 -0.448759  0.658748 -0.708223
drat  0.681172 -0.699938 -0.710214 -0.448759  1.000000 -0.712441  0.091205
wt   -0.867659  0.782496  0.887980  0.658748 -0.712441  1.000000 -0.174716
qsec  0.418684 -0.591242 -0.433698 -0.708223  0.091205 -0.174716  1.000000
vs    0.664039 -0.810812 -0.710416 -0.723097  0.440278 -0.554916  0.744535
am    0.599832 -0.522607 -0.591227 -0.243204  0.712711 -0.692495 -0.229861
gear  0.480285 -0.492687 -0.555569 -0.125704  0.699610 -0.583287 -0.212682
carb -0.550925  0.526988  0.394977  0.749812 -0.090790  0.427606 -0.656249

            vs        am      gear      carb
mpg   0.664039  0.599832  0.480285 -0.550925
cyl  -0.810812 -0.522607 -0.492687  0.526988
disp -0.710416 -0.591227 -0.555569  0.394977
hp   -0.723097 -0.243204 -0.125704  0.749812
drat  0.440278  0.712711  0.699610 -0.090790
wt   -0.554916 -0.692495 -0.583287  0.427606
qsec  0.744535 -0.229861 -0.212682 -0.656249
vs    1.000000  0.168345  0.206023 -0.569607
am    0.168345  1.000000  0.794059  0.057534
gear  0.206023  0.794059  1.000000  0.274073
carb -0.569607  0.057534  0.274073  1.000000